<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../src/index.js" defer type="module"></script>
</head>
<body>
    
    <div class="game-container">
        <div class="left-area">
            <div class="dinheiro">
                <div>$</div>
                <div class="valor">0</div>
            </div>
            <div class="dinheiroPorClick">
                <div class="produz">1</div>
                <span>por Click</span>
            </div>
            <div class="dinheiroPorSegundo">
                <div class="produz">0</div>
                <div class="barra">/</div>
                <div class="segundo">s</div>
            </div>            
            <div class="pc">
                🖥️
            </div>
        </div>
        <div class="right-area">
            <div class="options">
                <div class="status">
                    <div class="info">i</div>
                </div>
            </div>
            <div class="upgrades">
            </div>
            <div class="tarefas">
            </div>
        </div>
    </div>

</body>
</html>