<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../src/index.js" type="module" defer></script>
    <title></title>
</head>
<body>
    <div class="estante e1">
        <div class="prateleira"></div>
        <div class="prateleira"></div>
        <div class="prateleira"></div>
    </div>
    <div class="estante e2">
        <div class="prateleira"></div>
        <div class="prateleira"></div>
        <div class="prateleira"></div>
    </div>
    <div class="mesa">
        <div class="livro vazio">
            <div class="pagina p1"></div>
            <div class="pagina p2"></div>
        </div>
        <div class="editor">
            <button class="editar">✏️</button>
            <div class="criar"></div>
        </div>
        <div class="botoes">
            <button class="abrir-btn">Abrir</button>        
            <button class="fechar-btn">Fechar</button>
            <button class="voltar-btn">Voltar</button>
            <button class="proxima-btn">Proxima</button>
        </div>
    </div>
</body>
</html>

