<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../src/index.js" type="module"></script>
    <link rel="stylesheet" href="../styles/index.css">
    <title>Dungeon</title>
</head>
<body>
    
    <div class="game-status">
        <div class="player-health"></div>
        <div class="level">LEVEL 0</div>
        <div class="player-itens"></div>
    </div>
    <canvas class="game-canva"></canvas>

</body>
</html>